adbc_driver_manager==1.2.0
adbc_driver_postgresql==1.2.0
adbc_driver_sqlite==1.2.0
AppKit==0.2.8
astor==0.8.1
async_generator==1.10
awscrt==0.22.0
black==24.10.0
brotli==1.1.0
brotlicffi==1.1.0.0
cchardet==2.1.7
cffi==1.17.1
chardet==5.2.0
charset_normalizer==3.3.2
checks==0.2
cryptography==43.0.3
curio==1.6
cycler==0.12.1
Cython==3.0.11
dask==2024.10.0
docutils==0.21.2
exceptiongroup==1.2.2
fastparquet==2024.5.0
Foundation==0.1.0a0.dev1
fsspec==2024.9.0
h2==4.1.0
html5lib==1.1
hypothesis==6.115.3
importlib_metadata==8.0.0
ipython==8.12.3
isort==5.13.2
jedi==0.19.1
js==1.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib==3.9.2
mtrand==0.1
mypy==1.12.1
numexpr==2.10.1
odfpy==1.4.1
openpyxl==3.1.5
pickle5==0.0.12
protobuf==5.28.2
psutil==6.1.0
py==1.11.0
PyInstaller==6.11.0
pylint==3.3.1
pyodide==0.0.2
pyOpenSSL==24.2.1
PyQt4==4.11.4
PyQt5==5.15.11
pyright==1.1.385
pytest==8.3.3
python_calamine==0.2.3
python_socks==2.5.3
pywin32==308
pyxlsb==1.0.10
PyYAML==6.0.2
qtpy==2.4.1
ruff==0.7.0
s3fs==2024.9.0
scikit_learn==1.5.2
scipy==1.14.1
scipy_doctest==1.4
sets==0.3.2
setuptools==72.1.0
Sphinx==8.1.3
SQLAlchemy==2.0.32
tables==3.10.1
thread==2.0.5
threadpoolctl==3.5.0
traitlets==5.14.3
trustme==1.2.0
websockets==13.1
win_inet_pton==1.1.0
wsaccel==0.6.7
xarray==2024.9.0
xlrd==2.0.1
xlsxwriter==3.2.0
zstandard==0.23.0
